html, body {
	height: 100%;
	font-family: Arial;

}
#top-banner{
	background-color: #2480D5;
	height: 140px;
	width:100%; 
}
.main {
	height: 100%;
	width:950px; 
	margin: 0 auto;
}
#top-banner-phones {
	vertical-align: top;
	display: inline-block;

}
#chat-image{
	vertical-align: top;
	margin-top: 10px;
	margin-left: -60px;
}
#all-phones {
	vertical-align: top;
	float: right; 
	margin-top: 10px;
}
#sales-phone {
	font-style: italic;
	color: white;
	font-size: 20px;
	vertical-align: top;
}
#service-phone {
	font-style: italic;
	color: white;
	font-size: 16px;
	vertical-align: top;
}
#search-box{
	display: inline-block;
	height: 29px;
	width:390px;
	background-color: #F1F3F2;
	border-radius: 5px;
	margin-left: 50px;
	margin-top: 7px;
}
#search-image{
	vertical-align: bottom;
	margin-top: -1px;
}
/*
.nav-item {
	float: left;
	border-radius: 5px 5px 0 0; ;
	display: inline-block;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;


}
#main-nav {
	display: block;
	width:950px;
	height: 35px;
	position: left;
}

#performance-jpeg {
	margin-left: 10px;

}
*/